---
engine:
  influxdb:
    host: localhost
    port: 8086
    user: fastnetmon
    password: 
    database: graphite
    anomaly_measurement: anomaly
    measurement_tag: total

schedules:
  - query: SELECT value from total where direction = 'incoming' and resource = 'bps' GROUP BY *
    period: 10s
    delay: 10s
    tags:
      direction: incoming
      resource: bps

  - query: SELECT value from total where direction = 'incoming' and resource = 'pps' GROUP BY *
    period: 10s
    delay: 10s
    tags:
      direction: incoming
      resource: pps

mappings:
  - name: total
    tags:
      direction: incoming
      resource: bps
    detector:
      fingerprints:
        - sigma:
            deviations: 15

  - name: total
    tags:
      direction: incoming
      resource: pps
    detector:
      fingerprints:
        - sigma:
            deviations: 15

alerts:
  - query: SELECT COUNT(start) FROM anomaly GROUP BY *
    message: Too many anomalies detected
    threshold: 1
    period: 1m
    group_by_interval: 5m
    notifiers:
      - log:
          file: alerts.log
